@model IEnumerable<PlayerData>

<div class="text-center">
	Words
	
	@foreach(PlayerData data in Model)
	{
		<div>
			@if (ViewBag.name == data.Username)
			{
				<h3>---YOU---</h3>
			}
			<partial name="partialLeaderboard.cshtml" for="@data" />
		</div>
	}
	
</div>
