@using ExtremeRecycler.Models.Upgrades;
@model ValueUpgrade

<div class="btn btn-outline-primary">
	<div>
		@Model.UpgradeName
	</div>
	<div>
		Current Efficiency: @Model.Execute()
	</div>
	<div>
		Cost To Upgrade: @Model.GetCurrentCost();
	</div>
	<div>
		<form asp-controller="Game" asp-action="BuyUpgrade">
			<input name="upgradeName" type="hidden" value="@Model.UpgradeName" />
			<button type="submit">Purchase</button>
		</form>
	</div>
</div>